.icon-image {
    position: absolute !important;
    left: -15% !important;
    top: 15px !important;
    left: 0;
    opacity: 0.89 !important;
}


.icon-image:hover {
    color: #ffffff !important;
    opacity: 1 !important;
}
