.ui.menu {
    border: 0 !important;
    box-shadow: unset !important;
}

.popup-wrapper {
    opacity: unset !important;
}

.popup-container {
    opacity: 0.8;
}

.mobile-popup {
    top: 50%;
    margin-left: -15% !important;
}