.grid-art {
    padding-top: 10%;
    padding-bottom: 5%!important;
    width: 100%;
    margin-left: 5%!important; ;
    margin-right: 15%!important; ;
}

.item-details {
    padding-left: 15%!important;
}

.item-wrapper {

    width: 100%!important;
}