.logo-item {
    font-family: 'Mina', sans-serif;
    font-size: 125%;
    left: 105px !important;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 3% !important;
    color: #000;
    font-weight: bold;
    letter-spacing: 4px;
    width: fit-content;
    width: -moz-fit-content;
    padding: 2px;
}

.logo-item-mobile {
    font-family: 'Mina', sans-serif;
    font-size: 125%;
    left: 50% !important;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-weight: bold;
    letter-spacing: 4px;
    width: fit-content;
    width: -moz-fit-content;
    padding: 2px;
}

.logo-item:hover {
    background-color: unset !important;
    color: #000;
}

.header-item:hover {
    background-color: inherit !important;
    color: goldenrod !important;
}

.header-wrapper {
    opacity: 0.8;
}

.header-item-container {
    width: 100% !important;
}

.header-right {
    margin-right: 5% !important;
}

.left-menu-sidebar-mobile {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 5% !important;
}