.image {
    position: relative!important;
}
.icon-image {
    position: absolute!important;
    left: -20%!important;
    top: 15px!important;
    left: 0;
    opacity: 0.89!important;
}

.ui.card>:last-child, .ui.cards>.card>:last-child {
    border-radius: 500em!important;
}

.icon-image:hover {
    color: #ffffff!important;
    opacity: 1!important;
}